<!DOCTYPE html>
<html ng-app="blogapp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/base.css"/>
    <script src="/angular/angular.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>
</head>
<body>
    <div ng-view></div>
    <script>
        angular.module('blogapp', ['blogapp.controllers', 'ngRoute']).config(function ($routeProvider) {
          $routeProvider.when('/posts/create', {
            templateUrl: '/partials/createpost.html',
            controller: 'CreatePostController as cp'
          }).when('/posts/allposts', {
            templateUrl: '/partials/allblogs.html',
            controller: 'BlogListController as bl'
          }).when('/posts/list/:id', {
            templateUrl: '/partials/listpost.html',
            controller: 'ListPostController as lp'
          }).otherwise({
              redirectTo: '/posts/create'
          });
        });
    </script>
</body>
</html>